[default]
production = snn_regression_torch_memberance
output_folder = /Users/user/Desktop/DeepHedging/output/SNN

#include </Users/user/eigen-3.3.7/Eigen/Dense>


[ann]
hidden_layers = [3]
num_hidden_units = [50]
dimension = [1,2,5,10,20,50,100]
T_sim = [5]



[snn_torch_rlif]
hidden_layers = [3]
num_hidden_units = [50]
dimension = [10]
T_sim = [5]

[snn_regression_torch_memberance]
hidden_layers = [2]
num_hidden_units = [1000]
dimension = [50]
T_sim = [3]




